# Docusaurus
build/
node_modules/
.docusaurus/
.yarn/
.yarnrc.yml
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnpm-debug.log*
lerna-debug.log*
                
########
## Linux
######## 

*~

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
