# Docusaurus
build/
node_modules/
.docusaurus/
                
########
## Linux
######## 

*~

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
