<p>Development: OpenRefine <a href='https://github.com/OpenRefine/OpenRefine/releases/download/2.6'>2.6-alpha1</a> Stable: Google Refine 2.5</p>

<ul>
<li><strong><a href='https://github.com/OpenRefine/OpenRefine/releases/download/2.5/google-refine-2.5-r2407.zip'>Windows kit</a></strong>, Download, unzip, and double-click on <em>google-refine.exe</em>. If you&#8217;re having issues with the above, try double-clicking on <em>refine.bat</em> instead.</li>

<li><strong><a href='https://github.com/OpenRefine/OpenRefine/releases/download/2.5/google-refine-2.5-r2407.dmg'>Mac kit</a></strong>, Download, open, drag icon into the Applications folder and double click on it. <strong>NOTE:</strong> If you have issue installing Refine on Mac, please refer to <a href='https://github.com/OpenRefine/OpenRefine/issues/590'>issue 590</a></li>

<li><strong><a href='https://github.com/OpenRefine/OpenRefine/releases/download/2.5/google-refine-2.5-r2407.tar.gz'>Linux kit</a></strong>, Download, extract, then type <em>./refine</em> to start.</li>
</ul>

<p>The list of all releases is <a href='https://github.com/OpenRefine/OpenRefine/releases'>here</a>.</p>
  </div>
