<div id="header">
  <div class="inner-content">
    <nav id="nav">
      <a {% if page.title == "Home" %}class="active"{% endif %} href="{{site.baseurl}}/index.html">Home</a>
      <a {% if page.title == "Download" %}class="active"{% endif %} href="{{site.baseurl}}/download.html">Download</a>
      <a {% if page.title == "Documentation" %}class="active"{% endif %} href="{{site.baseurl}}/documentation.html">Documentation</a>
      <a {% if page.title == "Community" %}class="active"{% endif %} href="{{site.baseurl}}/community.html">Community</a>
      <a {% if page.title == "Blog" %}class="active"{% endif %} href="{{site.baseurl}}/blog.html">Blog</a>
    </nav>
    <div id="social">
      <span>Follow us on:</span>
      <a class="github" href="https://github.com/OpenRefine/OpenRefine">Github</a>
      <a class="twitter" href="http://twitter.com/openrefine">Twitter</a>
    </div>
    <div>
    <gcse:searchbox-only resultsUrl="http://openrefine.org" newWindow="true" ></gcse:searchbox-only>
    </div>
  </div>
</div>
