      <h3><a href="{{site.baseurl}}/blog.html">Post archive</a></h3>
    <ul class="bordered-list">
      {% for post in site.posts %}
      <li>
        <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <h3>Twitter Stream</h3>
    <!-- Twitter timeline from @tfmorris account? -->
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=OpenRefine+OR+%22Open+Refine%22+OR+%22Google+Refine%22+OR+grefine+OR+googlerefine" data-widget-id="309777825588711424">Tweets about OpenRefine</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
