<nav id="sidebar-icon-links" style="text-align:center;" >

  {% if site.github %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project" 
       href="https://github.com/OpenRefine/OpenRefine" >
      {% include svg/github.svg %}
    </a>
    
    <a id="github-download-link"
       class="icon" title="Twitter" aria-label="Twitter"
       href="https://twitter.com/openrefine">
      {% include svg/twitter.svg %}
    </a>
  {% endif %}
  
{% include custom-icon-links.html %}
</nav>

  