<div id="sidebar">
  <header>
    <img src="favicon.png"/>
    
  </header>
  {% include sidebar-nav-links.html %}
<br>

<!-- Twitter timeline from @tfmorris account? -->
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=OpenRefine+OR+%22Open+Refine%22+OR+%22Google+Refine%22+OR+googlerefine" data-widget-id="309777825588711424">Tweets about OpenRefine</a>
<a class="jprofiler" href="http://www.ej-technologies.com/products/jprofiler/overview.html">Enhanced with Java profiler<img alt="Java profiler" src="https://www.ej-technologies.com/images/product_banners/jprofiler_large.png"></a>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


  {% include sidebar-icon-links.html %}

</div>
