{% include head.html %}
<body>
  
  {% include header.html %}
<div class="page-title-bar">
  <div class="inner-content">
    <h2>{{ page.title }}</h2>
  </div>
</div>

<div class="page-type-subnav">
  <div id="twitter_sidebar">

<!-- Twitter timeline from OpenRefine account?
		<a class="twitter-timeline" href="https://twitter.com/search?q=%22Open+Refine%22OR+%22OpenRefine%22+OR+%22google+refine%22+OR+grefine+OR+%22googlerefine%22" data-widget-id="287629360243019777">Tweets about OpenRefine</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></br>
-->
  </div>  
  <div id="content">
  {{ content }}
  </div>
</div>

  {% include footer.html %}

</body>
</html>
