---
layout: default
title: Home
sidebar_link: true

---
<div id="content">
  <div class="inner-content">

  <h1 id="welcome">Welcome!</h1>

<p>OpenRefine (previously Google Refine) is a powerful tool for working with messy data: 
cleaning it; transforming it from one format into another; and extending it with 
web services and external data.</p>

<p>OpenRefine always keeps your data private on your own computer until YOU want to share or collaborate.
Your private data never leaves your computer unless you want it to.
(It works by running a small server on your computer and you use your web browser to interact with it)</p>
    
<p>OpenRefine is available in more than 15 languages.</p>

OpenRefine is part of <a href="https://codeforscience.org/">Code for Science & Society</a>.

<a href="https://codeforscience.org/"><a href="images/css-logo.png" alt="CSS logo" /></a>

<h2>2020 User Survey</h2>

Our last user census is two years old and a lot happened in our community since!
Please let us know who you are and why you use OpenRefine with our <a href="https://forms.gle/euSeZF7iaQBXQARy9">2020 User Survey</a>.

<h1 id="introduction-to-openrefine">Introduction to OpenRefine</h1>

<h2 id="1-explore-data">1. Explore Data</h2>

<p>OpenRefine can help you explore large data sets with ease. You can find out 
more about this functionality by watching the video below.</p>

<div class="video-wrapper">
 <iframe width="500" height="400" src="https://www.youtube.com/embed/B70J_H_zAWM" frameborder="0"> </iframe>
</div>

<h2 id="2-clean-and-transform-data">2. Clean and Transform Data</h2>

<div class="video-wrapper">
 <iframe width="500" height="400" src="https://www.youtube.com/embed/cO8NVCs_Ba0" frameborder="0"> </iframe>
</div>

<h2 id="3-reconcile-and-match-data">3. Reconcile and Match Data</h2>

<p>OpenRefine can be used to link and extend your dataset with various webservices. 
Some services also allow OpenRefine to upload your cleaned data to a central database, such as <a href="https://www.wikidata.org">Wikidata.</a>. A growing list of extensions and plugins is
<a href="https://github.com/OpenRefine/OpenRefine/wiki/Reconcilable-Data-Sources">available on the wiki</a>.</p>

<div class="video-wrapper">
 <iframe width="500" height="400" src="https://www.youtube.com/embed/5tsyz3ibYzk" frameborder="0"> </iframe>
</div>


  </div>
</div>
</div>
