---
layout: default
title: Home
sidebar_link: true

---
<div id="content">
  <div class="inner-content">

  <h1 id="welcome">Welcome!</h1>

<p>OpenRefine (formerly Google Refine) is a powerful tool for working with messy data: 
cleaning it; transforming it from one format into another; and extending it with 
web services and external data.</p>

<p>Please note that since October 2nd, 2012, Google is not actively supporting 
this project, which has now been rebranded to OpenRefine. Project development,
 documentation and promotion is now fully supported by volunteers. Find out
 more about the history of OpenRefine 
and how you can help the community.</p>

<h1 id="2017-openrefine-user-survey">2017 OpenRefine User Survey</h1>

<p>It’s been a while since our last user survey (see the result from the 2014 edition), we would like to know who you are, how you use OpenRefine and what your expectations are.  So here it is the 2017 edition of the OpenRefine user survey! Thank you for sharing it with your friends, coworker, and communities!</p>

<p><strong><a href="https://bit.ly/2AOMVBJ">Take the survey</a></strong></p>

<h1 id="using-openrefine---the-book">Using OpenRefine - The Book</h1>
<div style="float: left ; margin-right: 10px"><img src="https://raw.github.com/OpenRefine/openrefine.github.com/master/images/using-openrefine.jpg" width="150" /></div>

<div><p><strong><a href="http://www.packtpub.com/openrefine-guide-for-data-analysis-and-linking-dataset-to-the-web/book">Using OpenRefine</a></strong>
  , by Ruben Verborgh and Max De Wilde, offers a great introduction to OpenRefine. Organized by recipes with hands on examples, the book covers the following topics:</p>
</div>
<br>
<br>
<br>
<br>
<ol>
  <li>Import data in various formats</li>
  <li>Explore datasets in a matter of seconds</li>
  <li>Apply basic and advanced cell transformations</li>
  <li>Deal with cells that contain multiple values</li>
  <li>Create instantaneous links between datasets</li>
  <li>Filter and partition your data easily with regular expressions</li>
  <li>Use named-entity extraction on full-text fields to automatically identify topics</li>
  <li>Perform advanced data operations with the General Refine Expression Language</li>
</ol>

<h1 id="introduction-to-openrefine">Introduction to OpenRefine</h1>

<h2 id="1-explore-data">1. Explore Data</h2>

<p>OpenRefine can help you explore large data sets with ease. You can find out 
more about this functionality by watching the video below and going through 
<a href="http://googlerefine.blogspot.ca/search/label/data%20exploration">these articles</a></p>

<div class="video-wrapper">
 <iframe width="500" height="400" src="https://www.youtube.com/embed/B70J_H_zAWM" frameborder="0"> </iframe>
</div>

<h2 id="2-clean-and-transform-data">2. Clean and Transform Data</h2>

<div class="video-wrapper">
 <iframe width="500" height="400" src="https://www.youtube.com/embed/cO8NVCs_Ba0" frameborder="0"> </iframe>
</div>

<h2 id="3-reconcile-and-match-data">3. Reconcile and Match Data</h2>

<p>OpenRefine can be used to link and extend your dataset with various webservices. 
Some services also allow OpenRefine to upload your cleaned data to a central database.
A growing list of extensions and plugins is
<a href="https://github.com/OpenRefine/OpenRefine/wiki/Reconcilable-Data-Sources">available on the wiki</a>.</p>

<div class="video-wrapper">
 <iframe width="500" height="400" src="https://www.youtube.com/embed/5tsyz3ibYzk" frameborder="0"> </iframe>
</div>


  </div>
</div>
</div>
