{% include head.html %}
<body>
  
  {% include header.html %}
<div class="page-title-bar">
  <div class="inner-content">
    <h2><a href="{{site.baseurl}}/blog.html">Blog</a></h2>
  </div>
</div>

<div class="page-type-subnav">
  <div id="subnav">
  {% include sidebar.html %}  
 </div>  
  
  <div id="blog">
    <div id="blog-single">
      <article>
        <header>
          <h1>{{ page.title }}</h1>
          <p>Posted on {{ page.date | date: "%B %d, %Y" }} by Author</p>
        </header>
        <div class="entry-content">
          {{ content }}
        </div>
      </article>
    </div> 
  </div> 
  
</div>

  {% include footer.html %}

</body>
</html>
